<%= form_for(campaign) do |f| %>
  <% if campaign.errors.any? %>
    <% campaign.errors.full_messages.each do |message| %>
      <%= js add_gritter(message, title: "Errors", sticky: false) %>
    <% end %>
  <% end %>

  <div class="field form-group">
    <%= f.label "Subject" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label "The body of your email" %>
    <%= f.text_area :email, class: "form-control", rows: "10" %>
  </div>


  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
