<h1>Editing Campaign</h1>

<%= puts @campaign_importer %>

<%= render 'form', campaign: @campaign %>

<%= link_to 'Show', @campaign %> |
<%= link_to 'Back', campaigns_path %>
<%= link_to 'Preview', preview_campaign_path(@campaign) %>
