<p id="notice"><%= notice %></p>

<h2 id="DraftCampaigns">Draft Campaigns</h2>
<% if(@campaigns.draft.count > 0) %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @campaigns.draft.each do |campaign| %>
      <tr>
        <td><%= campaign.name %></td>
        <td><%= link_to 'Show', campaign %></td>
        <td><%= link_to 'Edit', edit_campaign_path(campaign) %></td>
        <td><%= link_to 'Destroy', campaign, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>

<p>You don't have any draft campaigns at the moment.</p>
<% end %>

<h2 id="SentCampaigns">Sent Campaigns</h2>
<% if(@campaigns.sent.count > 0) %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @campaigns.sent.each do |campaign| %>
      <tr>
        <td><%= campaign.name %></td>
        <td><%= link_to 'Show', campaign %></td>
        <td><%= link_to 'Edit', edit_campaign_path(campaign) %></td>
        <td><%= link_to 'Destroy', campaign, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>

<p>You don't have any sent campaigns at the moment.</p>
<% end %>
<br>

<%= link_to 'New Campaign', new_campaign_path %>
