<p>Do these emails look good? If so, then: <%= link_to "Send this Campaign", send_campaign_campaign_path(@campaign) %></p>

<p> Otherwise, <%= link_to "edit your campaign", edit_campaign_path(@campaign) %></p>

<% @campaign.contacts.each do |contact| %>
  <p><strong>To:</strong> <%= contact.name %></p>
  <p><strong>Email:</strong> <%= contact.email %></p>
  <p><strong>Subject line:</strong> <%= @campaign.name %></p>
  <p><strong>Email Body</strong>: <%= @campaign.render(contact, @campaign.email) %></p>
<% end %>
