

<% @campaign.contacts.each do |contact| %>
  <p><strong>Email:</strong> <%= contact.email %></p>
  <p><strong>Subject line:</strong> <%= @campaign.name %></p>
  <p><strong>Email Body</strong>: <%= @campaign.render(contact) %></p>
<% end %>


<p>Do these emails look good? If so, then:</p>

<%= form_tag({action: :send_templated_email}) do %>
  <%= submit_tag "Send" %>
<% end %>

<p> Otherwise, <%= link_to "edit your campaign", edit_campaign_path(@campaign) %></p>
