<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @campaign.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @campaign.name %>
</p>

<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
